<div class="container">
  <div class="div">
    <div class="login-container">
      <mat-card>
        <h2>Unlimited Movies, TV Shows, and More</h2>
        <p>Ready to watch? Sign Up/Sign In With Google Here</p>
        <button mat-stroked-button (click)="auth.googleLogin()">
          Login with Google
        </button>
      </mat-card>
    </div>
  </div>
  <div class="div">
    <mat-card>
      <h1>Watch Everywhere</h1>
      <h2>
        Stream unlimited movies and TV shows on your phone, tablet, laptop, and
        TV without paying more.
      </h2>
      <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png" />
    </mat-card>
  </div>
</div>