.container {
  display: flex;
  justify-content: center;
  height: 75%;

  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;

    p {
      cursor: pointer;
    }

    .avatar {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      padding: 0 5px;
    }
  }
}
